<!DOCTYPE html>

<html>
	<head>
		<meta charset = 'utf-8'>
		<title> Some Website </title>
	</head>
	<body>
		{{> header}}

		<!-- calling helper function 'screamIt' with 'WelcomeMsg' as argument-->		
		<p> {{screamIt WelcomeMsg}} </p> 
		
		{{> footer}}
	</body>
</html>